<!DOCTYPE html>
<html>
<meta charset="utf-8"/>

<head>
	<title>Money counter</title>
</head>
<body>
	<h1>Testing</h1>
	<br>
	<p id="q"></p>
	<script type="text/javascript" defer> //src="https://code.jquery.com/jquery-3.5.0.js">
	var money_holder=document.getElementById("q");
		async function incMon(){
	  let response = await fetch('http://127.0.0.1:5000/incMon');
 		 let data = await response.json();
 		  console.log(money_holder)
 		 money_holder.textContent=data.money;


		}
	</script>
	<input type="button" onclick="incMon()" value="Add money">
	<!--<input type="button" onclick="loadmoney()" value="refresh">-->
</body>
</html>